td {
	width: 45%;
	padding-right:2.5%;
	padding-left: 2.5%;
}

iframe {
	width: 100%;
}

.article {
	width: 100%;
}

#banner {
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
}

h4 {
	text-align: center;
}