td {
	width: 45%;
	padding-right:2.5%;
	padding-left: 2.5%;
	height: 100%;
}

iframe {
	width: 100%;
	height: auto;
	clip-path: inset(0% 0% 10% 0%);
}

.article {
	width: 100%;
	height: auto;
}

#banner {
	width: 98%;
	height: auto;
	padding-left: 1%;
	padding-right: 1%;
}

a {
	color: green;
}

#stats_header {
	text-align: center;
}

h4 a {
	color: navy;
	text-decoration: none;
}

a:hover {
	color: red;
}

div {
	color: gray;
}